<html>
    <head>
        <title>Ea's blogg</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Ea's Blogg</a></h1>
        </div>

        <div>
            <p>Publicerat 28.10.2019, 19:21</p>
            <h2><a href="">Mitt första inlägg</a></h2>
            <p>Texttexttext osv!</p>
        </div>

        <div>
            <p>Publicerat 28.10.2019, 19:23</p>
            <h2><a href="">Mitt andra inlägg</a></h2>
            <p>Meratexttextetxt osv.</p>       
        </div>
    </body>
</html>